.text{
    font-size: 22px;
    line-height: 1.6;
    color: #C4C5C5;
    margin-bottom: 30px;
}

.cardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}

.signInWrapper{
    margin-top: 20px;
}

.hasInvite{
    color: #0077ff;
}